app-root {
    background: red;
}
.primay-color {
    background: #1976D2 !important;
}

.background{
    background: #f9f9f9;
    height: 100%;
}

.down-space{
    margin-bottom: 15px; 
}
.our-container{
    padding: 15px;
}