// @import '../../_app.color.scss';
@import '~app/app.color.scss';
// @import '~app/pages/dashboard/dashboard.component.scss';

.title {
    color: $primary-color;
}

.card-home {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px; 
    min-height: 200px;
}

.icon-home {
    justify-content: center;
    text-align: center;
}

.danger-color {
    color: red;
}

.safe-color{
    color: green;
}

.warning-color {
    color: gold;
}