

<div class="container card-home">
    <!-- Content here -->
    <div class="row">
        <div class="col-9">
            <h2 >
                الوضع العام
            </h2>
            <h5 class="sub-title">
                وصلت الاستهلاك لماء في الوقت الحالي الى <span class="safe-color">Test</span> الوضع الحالي <span class="safe-color">Test</span>
            </h5>
        </div>
        <div class="col-3">
            <div class="icon-home danger-color ">
                <img src="../.../../assets/images/therealdealportfoliohero.jpg" />
            </div>
        </div>
    </div>
    
  </div>