

<div class="container card-home">
    <!-- Content here -->
    <div class="row">
        <div class="col-9">
            <h2 >
                Overview 
            </h2>
            <h5 class="sub-title">
                Water consumoe over all: <span [ngClass]="currentMode+'-color'">{{waterConsume}}</span>. the current mode is <span [ngClass]="currentMode+'-color'">{{currentMode}}</span>.
            </h5>
        </div>
        <div class="col-3">
            <div class="icon-home  drop-water ">
                    <i *ngIf="currentMode !== 'safe'" class="material-icons icon-warning" [ngClass]="currentMode+'-color'">warning</i>
            </div>
        </div>
    </div>
    
  </div>