// @import '../../_app.color.scss';
@import '~app/app.color.scss';
// @import '~app/pages/dashboard/dashboard.component.scss';

.title {
    color: $primary-color;
}

.card-home {
    border: 1px none #000000;
    box-shadow: 0px 5px 4px lightgrey;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px; 
    min-height: 200px;
    background: white;
}

.icon-home {
    justify-content: center;
    text-align: center;
}

.danger-color {
    color: red;
}

.safe-color{
    color: #43a047;
}

.warning-color {
    color: gold;
}

.sub-title{
    color: darkgray;
}