<div class="row">
    <div class="col-6">
        <chart-card [title]="'Bar Chart'">
            <general-chart
            [dataTable]="barChartData"
            [chartType]="'ColumnChart'"
            [colors]="'c'"
            >
            </general-chart>
        </chart-card>
    </div>
    <div class="col-6">
        <chart-card class="chart-card" [title]="'Bar Chart'">
            <general-chart
            [dataTable]="barChartData"
            [chartType]="'BarChart'"
            [colors]="'c'"
            >
            </general-chart>
        </chart-card>
    </div>
</div>
<div class="row">
        <div class="col-6">
            <chart-card [title]="'Bar Chart'">
                <general-chart
                [dataTable]="pieChartData"
                [chartType]="'PieChart'"
                [colors]="'serviceTypeColors'"
                [pieHole]="'0.5'">
                </general-chart>
            </chart-card>
        </div>
        <div class="col-6">
            <chart-card [title]="'Bar Chart'">
                <general-chart
                [dataTable]="barChartData"
                [chartType]="'ColumnChart'"
                [colors]="'c'"
                >
                </general-chart>
            </chart-card>
        </div>
    </div>