
dashboard{

    .chart-card{
    padding: 5px !important;
    }
}

.toEnd {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.margin-left-15 {
    margin-left:  15px;
}

.circle {
	border-radius: 50%;
	width: 15px;
    height: 15px;
	/* width and height can be anything, as long as they're equal */
}

.produce {
    @extend .circle;
    background-color: #2962ff;
    display: inline-flex;
}

.consumption {
    @extend .circle;
    background-color: #1CD0FF;
    display: inline-flex;
}


.danger-color {
    color: #dd2c00 ;
}

.safe-color{
    color: #43a047;
}

.warning-color {
    color: #ffb300;
}

.drop-water{
    background-color: #1a75d3;
    width: 220px;
    height: 220px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 115px;
    -webkit-border-bottom-right-radius: 93px;
    -webkit-border-bottom-left-radius: 115px;
    -webkit-transform: rotate(45deg);
    -webkit-box-shadow: 1px 1px 7px #1a1a1a;
    box-shadow: 1px 1px 7px #1a1a1a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 37px;

}

.center {

    color: #fff;
    -webkit-transform: rotate(-45deg);
    bottom: 9%;
    right: 5%;
    font-size: 83px;
    position: absolute;
}