<div class="row">
    <div class="col-12">
        <chart-card [title]="'Total Consume and Produce Over Time'">
            <div class="toEnd">
                <div class="margin-left-15">
                    <div class="produce"> </div>
                    Produce
                </div>
                <div class="margin-left-15">
                        <div class="consumption"></div>
                        Consumption
                    </div>
            </div>
        <general-chart
            [dataTable]="barChartData"
            [chartType]="'ColumnChart'"
            [colors]="'hackIot'"
            >
            </general-chart>
        </chart-card>
    </div>
</div>
<div class="row">
        <div class="col-6">

            <chart-card [title]="'Compare 2017'">
                    <div class="toEnd">
                            <div class="margin-left-15">
                                <div class="produce"> </div>
                                Produce
                            </div>
                            <div class="margin-left-15">
                                    <div class="consumption"></div>
                                    Consumption
                                </div>
                        </div>
                <general-chart
                [dataTable]="pieChartData"
                [chartType]="'PieChart'"
                [colors]="'hackIot'"
                [pieHole]="'0.5'">
                </general-chart>
            </chart-card>
        </div>
        <div class="col-6">
            <chart-card [title]="'Precent of Unuse Water'">
                    <div class="icon-home  drop-water ">
                            <!-- <i class="material-icons icon-warning" [ngClass]="currentMode+'-color'">warning</i> -->
                            <p class="center" >{{waterConsumePrecent}}%</p>
                    </div>
            </chart-card>
        </div>
    </div>